<html>
<head>
  <title>Ruby on Rails :: Leapfrog Technology</title>
  <style>
    body {
      margin:0;
      padding:0
    }
    .rails-logo {
      width: 300px;
      float: right;
    }
    .lf-logo {
      width: 400px;
      float: left;
    }
    .header-wrapper{
      overflow: hidden;
      padding: 10px
    }
    .content-wrapper {
      width: 100%;
      overflow: hidden;
      background-color: maroon;
    }
    .content {
      margin: 0 auto;
      text-align: center;
      width: 500px;
      padding-top:10%;
    }
    .content p {
      font-size: 30px;
      font-weight: bold;
      color: whitesmoke;
      line-height: 10px;
    }
  </style>
</head>
<body>
<div class="main-wrapper">
  <div class="header-wrapper">
    <img class="lf-logo" src="http://www.lftechnology.com/media/images/top_mast_logo.png">
    <img class="rails-logo" src="http://rubyonrails.org/images/rails-logo.svg">
  </div>
</div>
<div class="content-wrapper">
  <div class="content">
    <p>Looks like you are lost.</p>
    <p>There's nothing to see here.</p>
  </div>
</div>
</body>
</html>